services:
  localstack:
    container_name: fomc-localstack
    image: localstack/localstack:latest
    ports:
      - "127.0.0.1:4566:4566"
    env_file:
      - .env.shared
      - .env.localstack
    environment:
      - SERVICES=s3,sqs,lambda,iam,cloudwatch
      - DEFAULT_REGION=${AWS_DEFAULT_REGION}
      - DEBUG=0
    volumes:
      - "./localstack/init:/etc/localstack/init"
      - "./volume:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
